[submodule ".emacs.d/vendor/ac-slime"]
	path = .emacs.d/vendor/ac-slime
	url = git@github.com:purcell/ac-slime.git
[submodule ".emacs.d/vendor/ac-nrepl"]
	path = .emacs.d/vendor/ac-nrepl
	url = https://github.com/clojure-emacs/ac-nrepl
[submodule ".emacs.d/vendor/arduino-mode"]
	path = .emacs.d/vendor/arduino-mode
	url = git@github.com:bookest/arduino-mode.git
[submodule ".emacs.d/vendor/auto-complete"]
	path = .emacs.d/vendor/auto-complete
	url = git@github.com:auto-complete/auto-complete.git
[submodule ".emacs.d/vendor/clojure-mode"]
	path = .emacs.d/vendor/clojure-mode
	url = git@github.com:clojure-emacs/clojure-mode.git
[submodule ".emacs.d/vendor/ess"]
	path = .emacs.d/vendor/ess
	url = git@github.com:emacs-ess/ESS.git
[submodule ".emacs.d/vendor/markdown-mode"]
	path = .emacs.d/vendor/markdown-mode
	url = git://jblevins.org/git/markdown-mode.git
[submodule ".emacs.d/vendor/jdee"]
	path = .emacs.d/vendor/jdee
	url = git@github.com:emacsmirror/jdee.git
[submodule ".emacs.d/vendor/js2-comint"]
	path = .emacs.d/vendor/js2-comint
	url = git@github.com:emacsmirror/js-comint.git
[submodule ".emacs.d/vendor/js-comint"]
	path = .emacs.d/vendor/js-comint
	url = git@github.com:emacsmirror/js-comint.git
[submodule ".emacs.d/vendor/js2-mode"]
	path = .emacs.d/vendor/js2-mode
	url = git@github.com:mooz/js2-mode.git
[submodule ".emacs.d/vendor/log4j-mode"]
	path = .emacs.d/vendor/log4j-mode
	url = git@github.com:emacsmirror/log4j-mode.git
[submodule ".emacs.d/vendor/magit"]
	path = .emacs.d/vendor/magit
	url = git@github.com:magit/magit.git
[submodule ".emacs.d/vendor/cider"]
	path = .emacs.d/vendor/cider
	url = git@github.com:clojure-emacs/cider.git
[submodule ".emacs.d/vendor/org-mode"]
	path = .emacs.d/vendor/org-mode
	url = git://orgmode.org/org-mode.git
[submodule ".emacs.d/vendor/paredit"]
	path = .emacs.d/vendor/paredit
	url = http://mumble.net/~campbell/git/paredit.git
[submodule ".emacs.d/vendor/popup-el"]
	path = .emacs.d/vendor/popup-el
	url = git@github.com:auto-complete/popup-el.git
[submodule ".emacs.d/vendor/rainbow-delimiters"]
	path = .emacs.d/vendor/rainbow-delimiters
	url = git@github.com:jlr/rainbow-delimiters.git
[submodule ".emacs.d/vendor/go-mode"]
	path = .emacs.d/vendor/go-mode
	url = git@github.com:dominikh/go-mode.el.git
