[submodule ".emacs.d/vendor/ac-slime"]
	path = .emacs.d/vendor/ac-slime
	url = git@github.com:purcell/ac-slime.git
[submodule ".emacs.d/vendor/ac-nrepl"]
	path = .emacs.d/vendor/ac-nrepl
	url = https://github.com/clojure-emacs/ac-nrepl
[submodule ".emacs.d/vendor/arduino-mode"]
	path = .emacs.d/vendor/arduino-mode
	url = git@github.com:bookest/arduino-mode.git
