[submodule ".emacs.d/vendor/ac-slime"]
	path = .emacs.d/vendor/ac-slime
	url = git@github.com:purcell/ac-slime.git
[submodule ".emacs.d/vendor/ac-nrepl"]
	path = .emacs.d/vendor/ac-nrepl
	url = https://github.com/clojure-emacs/ac-nrepl
[submodule ".emacs.d/vendor/arduino-mode"]
	path = .emacs.d/vendor/arduino-mode
	url = git@github.com:bookest/arduino-mode.git
[submodule ".emacs.d/vendor/auto-complete"]
	path = .emacs.d/vendor/auto-complete
	url = git@github.com:auto-complete/auto-complete.git
[submodule ".emacs.d/vendor/clojure-mode"]
	path = .emacs.d/vendor/clojure-mode
	url = git@github.com:clojure-emacs/clojure-mode.git
[submodule ".emacs.d/vendor/ess"]
	path = .emacs.d/vendor/ess
	url = git@github.com:emacs-ess/ESS.git
